server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/scheduleflow?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  config:
    import: optional:file:.env[.properties]

  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB

  jpa:
    show-sql: true
    open-in-view: false
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 50

jwt:
  secret-key: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

storage:
  path: ${FILE_UPLOAD_PATH:C:\ScheduleFlow}